<div class="task-container">
  <div class="task-list">
    <h2>Todo</h2>
    <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListConnectedTo]="[doneList]"
      [cdkDropListData]="todoTasks"
      class="list"
      (cdkDropListDropped)="onDrop($event)"
    >
      <div class="task-item" *ngFor="let task of todoTasks" cdkDrag>
        {{ task.title }}
      </div>
    </div>
  </div>

  <div class="task-list">
    <h2>Done</h2>
    <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListConnectedTo]="[todoList]"
      [cdkDropListData]="doneTasks"
      class="list"
      #doneState
      (cdkDropListDropped)="onDrop($event)"
    >
      <div class="task-item" *ngFor="let task of doneTasks" cdkDrag>
        {{ task.title }}
      </div>
    </div>
  </div>
</div>
